{{ form_start(form) }}
    {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.publishedDate, {'attr': {'class': 'form-control'}}) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-success mt-2">{{ button_label|default(' + Ajouter') }}</button>
    </div>
{{ form_end(form) }}
