{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container mt-2">
    <a href="/home"><button type="button" class="btn btn-primary"><- Retour</button></a>
    <h1>Liste des commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenue</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.publishedDate ? comment.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}"><div class="btn btn-primary">Voir</div></a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}"><div class="btn btn-success">Modifier</div></a>
                    <a href="{{ path('app_comment_delete', {'id': comment.id}) }}"><div class="btn btn-danger">Suprimer</div></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="pagination">
        {{ knp_pagination_render(comments) }}
    </div>

    <a href="{{ path('app_comment_new') }}"><button type="button" class="btn btn-primary">+ Créer un nouveau</button></a>
</div>
{% endblock %}
