{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
<div class="container">
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ comment.author }}</td>
            </tr>
            <tr>
                <th>PublishedDate</th>
                <td>{{ comment.publishedDate ? comment.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_comment_index') }}"><button type="button" class="btn btn-primary"><- Retour</button></a>
        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}"><button type="button" class="btn btn-success">Modifier</button></a>
        <a href="{{ path('app_comment_delete', {'id': comment.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
    </div>
</div>
{% endblock %}
